.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	/*right: 0;*/
	/*height: 32px;*/
	/*display: flex;*/ 
	/*padding: 0 12px;*/
	background-color: #2b2a38;
    width: 100%;
    z-index:99;
}
  .footer .footer-inner {
    color:#8c8b9b;
    font-size: 12px;
    width: 100%;
    text-align:center;
  }
